<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app>
<display-name>DrApp</display-name>
<filter>
<filter-name>controlFilter</filter-name>
<filter-class>com.drApp.webservlets.SecurityFilter</filter-class>
</filter>
<filter-mapping>
<filter-name>controlFilter</filter-name>
<url-pattern>/controller</url-pattern>
</filter-mapping>
<servlet>
<servlet-name>ControllerAlias</servlet-name>
<servlet-class>com.drApp.webservlets.LoginServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ControllerAlias</servlet-name>
<url-pattern>/controller</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>Registration</servlet-name>
<servlet-class>com.drApp.webservlets.RegistrationServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Registration</servlet-name>
<url-pattern>/registration</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>AppointmentHistory</servlet-name>
<servlet-class>com.drApp.webservlets.AppointmentHistory</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AppointmentHistory</servlet-name>
<url-pattern>/history</url-pattern>
</servlet-mapping>
</web-app>
